name: Web Tests (Cross-browser Parallel)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  web-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build all modules
        run: mvn clean install -DskipTests

      - name: Run Web Tests (Chrome + Firefox)
        run: |
          cd qa-web-automation
          mvn test -Dsuite=testng-web.xml

      - name: Generate Allure HTML Report
        run: |
          cd qa-web-automation
          mvn allure:report

      - name: Upload Allure Results Artifact (optional)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: qa-web-automation/target/allure-results



      - name: Publish Allure Report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./qa-web-automation/target/site/allure-maven-plugin
          publish_branch: gh-pages
